* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div>P{
	font:bold 32px "微软雅黑";
	margin-top: 20px;
	text-align: center;
}



.map {
	width: 1000px;
	height: 600px;
	margin: 30px auto;
	background-color: #CCC;
	position: relative;
}
