
a {
	text-decoration: none;
  color: #66B3FF;
}

a:hover {
  text-decoration: underline;
}

body {
	background: url(images/beijing.jpeg);
	width: 100%;
	overflow-x: hidden;
	padding: 1rem 10%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body, button, input {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

body .fa {
	margin-right: .3em;
}

body .info-unit {
	margin-bottom: 1rem;
}

body .info-unit h2 {
	font-weight: 700;
}

body .info-unit h3 {
	font-weight: 300;
}

.container .side {
	position: absolute;
	width: 20rem;
	background: #fff;
	border-radius: 60px;
	box-shadow: 0 5px 20px #bbb;
	box-sizing: border-box;
	padding: 2rem;
}

.container .side .me {
	text-align: center;
	margin-bottom: 3rem;
}

.container .side .me .portrait {
	margin: 0 auto;
	width: 8rem;
	height: 8rem;
	overflow: hidden;
	position: relative;
}

.container .side .me .portrait img {
	display: block;
	width: 8rem;
	height: 10rem;
}

.container .side .info-unit ul li label {
	display: inline-block;
	width: 35%;
}

.container .side .info-unit ul li span {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

.container main {
	position: relative;
	margin-left: 22rem;
	background: #fff;
	border-radius: 60px;
	box-shadow: 0 5px 20px #bbb;
	box-sizing: border-box;
	padding: 2rem;
}

.container main .info-unit ul {
	box-sizing: border-box;
	padding-left: 1.2rem;
	padding-right: 0.8rem;
}

.container main .info-unit ul li {
	margin-bottom: 1rem;
	list-style: disc;
}

.container main .info-unit ul li h3 .link {
	font-size: .5rem;
	border: 1px solid #66B3FF;
	padding: 1px 3px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: .5rem;
}

.container main .info-unit ul li h3 time {
	text-align: right;
	float: right;
}

.container main .info-unit ul li .info-content li {
	list-style: circle;
	margin: 0;
}

.container main .info-unit ul li .info-content .fa {
	font-size: 1em;
}

.fa {
	font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0066cc;
}

h1 {
	font-size: 1.6em
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}


aside {
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 2;
}

aside ul li {
	margin-bottom: 10px;
	border-radius: 19px 0 0 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	background: #66B3FF;
}

aside ul li a {
	display: inline-block;
	width: 80px;
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #fff;
}

progress {
	background-color: #66B3FF;
	display: inline;
	height: 1em;
}

progress::-webkit-progress-bar {
	background-color: #e0eaf0;
}

progress::-webkit-progress-value {
	background-color: #66B3FF;
}

progress::-moz-progress-bar {
	background-color: #66B3FF;
}

progress::-moz-progress-value {
	background-color: #708d9b;
}

.progress-list {
	line-height: 2;
}

mark {
	background: #d2e9ff;
}

footer {
	width: 100%;
	margin-top: 1rem;
	height: 2rem;
}

footer p {
	color: white;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
}

.photo {
	max-width: 40%;
	text-align: center;
}
